/* DEFAULTS
----------------------------------------------------------*/

.NavBar
{
    width:100%;
}

.PostionOfLeftColumn
{
    position:absolute;
    top:410px;
    left:676px;
    
    
}

body   
{
    background-image: url('http://i208.photobucket.com/albums/bb64/Nintendude1313/8-Seamless-Dark-Metal-Grid-Patterns_08_zps2cef4e4d.jpg');
    background-color: #202020;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

table
{
    width: 100%;
    max-width: 400px;
}

.gridView
{
    background-color: #3c454f;
    border-collapse: collapse;
    color: #ffffff;
    padding: 10px 5px 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform:capitalize;
    width:100%;
}

.gridView th
{
    color: #fff;
    background: #424242 url(http://i208.photobucket.com/albums/bb64/Nintendude1313/gridView_head_zps00f122b7.png) repeat-x top;
}

.gridView tr:nth-child(2n+2)
{
    background-color: #f3f4f5;
}

.gridView tr:nth-child(2n+1) td
{
    background-color: #d6dadf;
    color: #454545;
}

input[type="submit"]
{
    background-color: #999;
    border-radius: 4px;
    color: #fff;
    margin-left: 0px;
}

input[type="submit"]:Hover  
{
     background-color: #aaa;
     border-radius: 4px;
     color: #fff;
}

input[type="button"]
{
    background-color: #999;
    border-radius: 4px;
    color: #fff;
}

input[type="button"]:Hover  
{
     background-color: #aaa;
     border-radius: 4px;
     color: #fff;
}

*
{
    font-family: 'Coda', 'cursive';
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}

#Logo
{
    width: 100%;
    max-width: 444px;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    margin: 20px auto 0px auto;
    border: 1px solid #252525;
    z-index: -100px;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #303030;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#303030;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #252525;
    border: 1px #353535 solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #757575;
    color: #ffffff;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 5px solid #bbb;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

.login
{
    width: 100%;
}

#loginBox
{
    width: 100%;
}

.loginEntry
{
    width: 80%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

div.accountInfo
{
    width: 42%;
    height: 100px;
    margin: 20px 40% 0px auto;
    padding-left: -100px;
}

#gridDiv
{
    width:100%;
    overflow:auto;
}

.identification
{
    position: absolute;
    visibility: hidden;
    top: 303px;
    left: 1307px;
}

/* Workout Page Layout
----------------------------------------------------------*/



/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

#LoginImage
{
    float:right;
    position:absolute;
    visibility:hidden;
}
#LoginBox
{
    float: left;
    width: 100%;
    min-width: 160px;
}

#LoginButton
{
    clear: both;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    /*margin: 20px auto 0px auto;*/
}

.loginDisplay
{
    white-space: nowrap;
}

@media only screen and (max-width : 530px) 
{   
    .loginDisplay
    {
        float: left;
        width: 60%;
        white-space: nowrap;
        margin-top: -35px;
    }
    #break
    {
        position: absolute;
    }
}

@media only screen and (max-width : 450px) 
{
    .loginDisplay
    {
        float: left;
        width: 62%;
        white-space: nowrap;
        margin-top: -35px;
    }
    #break
    {
        position: absolute;
    }
}